input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border-color: #638aff;
}

input[type=submit] {
    background-color: #eb4034;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 10%;
}
